build/
dist/
dev/**/build/
third_party/*.zip
third_party/sqlite-tmp/
third_party/catch2/
third_party/whisper.cpp/
.vs/
out/
*.user
*.suo
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.log
*.bin
*.gguf
myrules.txt
